.parent {
  display: flex;
  flex-direction: row;

  .list {
    flex-grow: 1;
    flex-direction: column;
    border-right: 1px solid  rgba(0, 0, 0, 0.12);
    align-items: stretch;
  }

  .convo {
    flex-grow:3;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    
    &-guest {
      display: flex;
      justify-content: flex-start;
    }

    &-sending {
      display: flex;
      justify-content: flex-end;
    }
  }
}